:root {
  --dark-bg: #1F2937;  /* Hero and footer */
  --main-text: #F9FAF8;    /* font-size: 48px, extra-bold  Hero main text (this website is awesome) */
  --secondary-text: #E5E7EB;   /* font-size: 18px;   ( Hero secondary text, Header Link Text ) */
  --header-logo: #F9FAF8;  /* font-size: 24px;   Header Logo Text */
  --button-color: #3882F6;  /* both buttons */
  --info-heading-text: #1F2937;  /* 36px extra-bold; */
  --quote-section: #E5E7EB;   /* quote section backround color */
  --quote-text: #1F2937;  /* 36px  light  italic  quote text */   
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
 height: 100vh;
}

/* Header1 */
.logo {
  width: 70%;
  transition: all 1.0s;
}

.logo:hover {
  transform: rotate(360deg);
  transition: all .5s;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.img-size {
  width: 220px;
  height: 147px;
  border-radius: 10%;
}

.hdr-image {
  width: 250px;
  border-radius: 50%;
}

.header-container {
  background-color: var(--dark-bg);
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 3rem;
  flex-wrap: wrap;
}

.navbar ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin-top: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.navbar ul li a:hover {
  background-color: var(--header-logo);
  color: black;
  padding: .5rem;
  margin: -.5rem;
}

/* Hamburger Menu */
.hamburger-container {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.hamb-line {
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: white;
  transition: .4s ease;
}

.hamb-line::before {
  content: '';
  position: absolute;
  top: -10px;
  height: 5px;
  width: 30px;
  background-color: white;
  transition: .4s ease;
}

.hamb-line::after {
  content: '';
  position: absolute;
  top: 10px;
  height: 5px;
  width: 30px;
  background-color: white;
}

#toggle {
  display: none;
}

#toggle:checked + label #active {
  transform: rotate(135deg);
}

#toggle:checked + label #active::before {
  transform: rotate(-90deg) 
  translateX(-10px);
}

#toggle:checked + label #active::after {
  display: none;
}


/* Header 2 */
.header2 { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.hero-text {
  color: var(--main-text);
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1rem;
  
}

.hero-secondary {
  color: var(--main-text);
  font-size: 1.1rem;
  text-align: center;
}

.hdr-btn {
  margin-top: 1rem;
}

.button {
  background-color: var(--button-color);
  color: white;
  padding: .5rem;
  border-radius: .5rem;
  width: 6rem;
  border-style: none;
  font-size: 1rem;
}

.button:hover {
  opacity: .5;
}

/* Main Sections */
.heading-section1 {
  font-size: 36px;
  text-align: center;
  margin: 3rem auto;
}

.section1-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.card {
  flex: 1;
  text-align: center;
}

.section2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  background-color: var(--quote-section);
  color: var(--quote-text);
  font-size: 2.2rem;
  font-style: italic;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.author {
  align-self: flex-end;
}

.container-section3 {
  display: flex;
  justify-content: center;
}

.section3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: var(--button-color);
  padding: 3rem;
  color: white;
  width: 50rem;
  border-radius: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.newsletter .time {
  font-size: 1.6rem;
}

.newsletter .join {
  color: rgb(228, 226, 226);
}

.section-btn {
  border: 2px solid white;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  background-color: var(--dark-bg);
  color: white;
  font-weight: bold;
  padding: 2rem;
  gap: 5rem;
  margin-top: 3rem;

}

.social-media a i {
  font-size: 1.8rem;
  color: #3b5998;
  padding: .2rem;
}

.social-media a i:hover {
  color: var(--button-color);
}

/* Media Queries */
@media (max-width: 900px) {
  .hero-main {
    font-size: 2.2rem;
  }

  .hero-secondary {
    font-size: 1.1rem;
  }

  .heading-section1 {
    font-size: 1.8rem;
  }

  .card {
    font-size: 1.1rem;
  }

  .section2 {
    font-size: 1.7rem;
  }

  .section3 .time {
    font-size: 1.4rem;
  }
}

@media (max-width: 690px) {
  .hero-main {
    font-size: 2rem;
  }

  .hero-secondary {
    font-size: .9rem;
  }

  .hdr-image {
    width: 150px;
  }

  .navbar {
    display: none;
  }

  .toggle:checked ~ .navbar {
    display: flex;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .hamburger-container {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  .heading-section1 {
    font-size: 1.6rem;
  }

  .card {
    font-size: .9rem;
  }

  .section2 {
    font-size: 1.3rem;
  }

  .section3 .time {
    font-size: 1.1rem;
  }

  .footer {
    font-size: .8rem;
    padding: .5rem;
    gap: 4rem;
  }
}
